#avatarPickerContainer
    .container.table
        .avatarContainer
            img(src="/images/avatars/avatar1.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar2.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar3.jpg")

