extends layout

block content
    // BOARD
    #board
      // BOARD LEFT
      #board-left
        .avatarContainer
          p.player-name Player 2
          .avatar-box
          .resource-box
            p 2
        .button-container
          button
            | End Turn
        .avatarContainer
          p.player-name= playerName
          .avatar-box
          .resource-box
            p 2
      // BOARD RIGHT
      #board-right
        .container.table
          // TOP (opponent hand)
          .top-row
            .hand
            .menu-bar
              span Menu
          // MIDDLE (played cards + decks)
          .middle-row
            .cards-row
              .card-box
              .card-box
              .card-box
              .card-box
              .card-box
              .deck-container
                .deck-box
                  p Discarded Pile
                .deck-box#opponent-deck
                  p Deck Pile
            .cards-row
              .card-box
              .card-box
              .card-box
              .card-box
              .card-box
              .deck-container
                .deck-box
                  p Discarded Pile
                .deck-box#player-deck
                  p Deck Pile
          // BOTTOM (player hand)
          .bottom-row
            #hand
            #info-container
              h3 Nom de la carte
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua.
              h4 Stats &amp; Effects
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          // end table
        // end board-right
      #disconnectionContainer
        div
          div
            p Votre adversaire s'est déconnecté !
            p Cette partie sera comptée comme une victoire!
            a(href="/home").button.dark-grey Revenir à l'écran principal
      // end board
    //
      End Document
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    script(src="/javascripts/game.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
      var playerName="#{playerName}";
