doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel="icon", type="image/png", href="images/favicon.png")
    script(src='/javascripts/zepto.js')
  body
    block content
