extends layout

block content
    #main
        .container
            .left
                .account
                    h1 Mon Compte
                    div
                        .avatar
                            p Choisi ton avatar
                            img(src= avatar)
                        div
                            p= "Nom: " + login
                            p= "Inscrit le: " + registrationDate
                            p= "Parties jouees: " + games
                            p= "Victoires: " + victories + "%"
                            a(class="logout button dark-grey" href="/users/logout") Deconnexion

                .scores
                    h2 Derniers resultats
                    ul
                        li(class='score')
                            p(class='result') Victoire !
                            p(class='date') 10/02/2016
                        li(class='score')
                            p(class='result') Victoire !
                            p(class='date') 10/02/2016
                        li(class='score defeat')
                            p(class='result') Defaite !
                            p(class='date') 10/02/2016
                        li(class='score')
                            p(class='result') Victoire !
                            p(class='date') 10/02/2016
            .right
                .army-options
                    h1 Mon Armee
                    .army-option(army="humans")
                    .army-option(army="monsters")
                    a(id="playButton", class="button dark-grey", href="/game") Fight!
    include avatarPicker.jade

    script(src="/javascripts/home.js")



