#avatarPickerContainer
    .container.table
        .avatarContainer
            img(src="/images/avatars/avatar1.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar5.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar6.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar2.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar7.jpg")
        .avatarContainer
            img(src="/images/avatars/avatar4.jpg")

