extends layout

block content
    // BOARD
    #board
      // BOARD LEFT
      #board-left
        .avatarContainer
          p.player-name Player 2
          .avatar-box
            p.player-health
            .screen
            img

          .resource-box
            p
        .button-container
          button
            | End Turn
        .avatarContainer
          p.player-name= player.login
          .avatar-box
            p.player-health
            .screen
            img(src= player.avatar)
          .resource-box
            p
      // BOARD RIGHT
      #board-right
        .container.table
          // TOP (opponent hand)
          .top-row
            .hand
            .menu-bar
              span Menu
          // MIDDLE (played cards + decks)
          .middle-row
            .cards-row
              .card-box
              .card-box
              .card-box
              .card-box
              .card-box
              .deck-container
                .deck-box
                  p Discarded Pile
                .deck-box#opponent-deck
                  p Deck Pile
            .cards-row
              .card-box
              .card-box
              .card-box
              .card-box
              .card-box
              .deck-container
                .deck-box
                  p Discarded Pile
                .deck-box#player-deck
                  p Deck Pile
          // BOTTOM (player hand)
          .bottom-row
            #hand
            #info-container
              h3 Nom de la carte
              p

          // end table
        // end board-right
      #endGameContainer
        div
          div
            h1
            p
            a(href="/home").button.dark-grey Revenir à l'écran principal
      // end board
    //
      End Document
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    script(src="/javascripts/game.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script.
      var player=!{JSON.stringify(player)};
