extends layout

block content
    #main
        .container
            .left
                .account
                    h1 Mon Compte
                    div
                        .avatar
                            p Choisi ton avatar
                            img(src= player.avatar)
                        div
                            p= "Nom: " + player.login
                            p= "Inscrit le: " + registrationDate
                            if player.games
                                p= "Parties jouées: " + player.games.length
                            else
                                p=  "Parties jouées: 0"
                            p(id="accountVictories") Victoires:
                            a(id="scoresButton", class="button dark-grey", href="/scores") Voir les scores
                            a(class="logout button dark-grey" href="/users/logout") Deconnexion

                .scores
                    h2 Derniers resultats
                    ul
            .right
                .army-options
                    h1 Mon Armee
                    .army-option(deckName="humans")
                    .army-option(deckName="monsters")
                    a(id="playButton", class="button dark-grey", href="/game") Jouer
                    a(id="rulesButton", class="button dark-grey", href="/rules") Voir les regles
    include avatarPicker.jade

    script(src="/javascripts/home.js")
    script.
        var games =  !{JSON.stringify(player.games)};



