extends layout

block content
  #index
    h1(class="main-title") Final Duel
    p(class="intro-text")
        |Final Duel est un jeu dans lequel deux joueurs s'affrontent à la tête d'armées légendaires!
        |Prenez la tête des légions de démons et ravagez tout sur votre passage, où rassemblez les dernières
        |forces des Royaumes Humains et défendez vos Terres!
        |Ce jeu de carte multjoueur est un projet personnel conçu et développé dans un cadre de formation, dans le but de
        |mettre en pratique mes connaissances en développement Javascript Full-Stack (Zepto/Node.js/websockets/
        |MongoDB)

    include login.jade
    if info
        p(class="info")= info
    #credit-container
        span.creditsButton
            p
            img(src="/images/chevron.png")
        .about-me Conçu et développé par Camille Bargoin
        p Visuels: 
        .artists
            a(href='http://daroz.deviantart.com') daroz
            br
            a(href='http://saadirfan.deviantart.com') saadirfan
            br
            a(href='http://kamiyamark.deviantart.com') kamiyamark
            br
            a(href='http://mikeazevedo.deviantart.com') mikeazevedo
            br
            a(href='http://tentaclesandteeth.deviantart.com') tentaclesandteeth
            br
            a(href='http://grosnez.deviantart.com/') grosnez
            br
            a(href='http://mattforsyth.deviantart.com/') mattforsyth
            br
            a(href='http://totmoartsstudio2.deviantart.com/') totmoartsstudio2
            br
            a(href='http://igorkieryluk.deviantart.com/') igorkieryluk
            br
            a(href='http://kingkostas.deviantart.com/') kingkostas
            br
            a(href='http://perzo.deviantart.com/') perzo
            br
            a(href='http://piofoks.deviantart.com') piofoks
            br
            a(href='http://mr__jack.deviantart.com') mr__jack
            br
            a(href='http://www.grivetart.com/') Bastien Grivet
            br
            a(href='http://happy_mutt.deviantart.com') happy_mutt
            br
            a(href='http://fetschart.blogspot.fr/') Viktor Fetsch
            br
            a(href='http://ruanjia.deviantart.com/') Ruan Jia
            br
            a(href='http://joeslucher.deviantart.com/') Joe Slucher
            br
            a(href='http://diegogisbertllorens.deviantart.com/') Diego Gisbert Llorens
            br
            a(href='http://paooo.deviantart.com/') paooo
            br
            a(href='http://p0p5.deviantart.com/') Bagus Hutomo
            br
            a(href='https://www.artstation.com/artist/hualu') Hua Lu

            br
            a(href='http://sebadorn.deviantart.com/') sebadorn
            br
            a(href='http://thedurrrrian.deviantart.com/') Daniel Kamarudin
            br
            a(href='http://michalivan.deviantart.com/') Michal Ivan
            br
            a(href='http://i-guyjin-i.deviantart.com/') Arman Akopian 
            br
            a(href='http://hughebdy.deviantart.com/gallery/') Hugh T N Ebdy
            br
            a(href='http://concept-cube.deviantart.com/gallery/') Sam White 
            br
            a(href='http://janphilippeckert.deviantart.com/') Jan-Philipp Eckert 
                

    script(src="./javascripts/index.js")


