if username
    p= "bienvenue " + username
    a(id="logoutButton", class="button", href="/users/logout") Déconnexion
else
    div(id="loginContainer")
        form(method="post", action="/users/login", id="loginForm")
            input(type="text", placeholder="username", name="login", class="inputTextfield" required)
            br
            input(type="password", placeholder="password", name="password", class="inputTextfield" required)
            br
            input(type="submit", id="loginSubmit", class="button dark-grey", value="Go !")
            span(id="showRegisterButton", class="button dark-grey") Créer un nouveau Compte

        form(method="post", action="/users/register", id="registerForm")
            p Créer un nouveau Compte
            input(type="text", placeholder="username", name="login", class="inputTextfield" required)
            br
            input(type="password", placeholder="password", name="password", class="inputTextfield" required)
            br
            input(type="text", placeholder="email", name="email", class="inputTextfield" required)
            br
            input(type="submit", id="registerSubmit", class="button dark-grey", value="Creer !")
            span(id="showLoginButton", class="button dark-grey") J'ai déjà un compte


