@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Milonga);
@font-face {
  font-family: 'optimusprincepsregular';
  src: url("/fonts/optimusprinceps-webfont.eot");
  src: url("/fonts/optimusprinceps-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/optimusprinceps-webfont.woff2") format("woff2"), url("/fonts/optimusprinceps-webfont.woff") format("woff"), url("/fonts/optimusprinceps-webfont.ttf") format("truetype"), url("/fonts/optimusprinceps-webfont.svg#optimusprincepsregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'optimusprincepssemiboldRg';
  src: url("/fonts/optimusprincepssemibold-webfont.eot");
  src: url("/fonts/optimusprincepssemibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/optimusprincepssemibold-webfont.woff2") format("woff2"), url("/fonts/optimusprincepssemibold-webfont.woff") format("woff"), url("/fonts/optimusprincepssemibold-webfont.ttf") format("truetype"), url("/fonts/optimusprincepssemibold-webfont.svg#optimusprincepssemiboldRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Humanistic";
  src: url("/fonts/Humanistic.ttf"); }
@font-face {
  font-family: "Modern Serif Eroded";
  src: url("/fonts/modern-serif.eroded.tff"); }
h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center; }

html, body {
  overflow: hidden; }

div {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  width: 100%;
  height: 100%; }

.table {
  display: table; }

.top-row {
  display: table-row;
  height: 25%; }

.middle-row {
  display: table-row;
  height: 50%; }

.bottom-row {
  display: table-row;
  height: 25%; }

.cards-row {
  width: 100%;
  height: 210px; }

.button {
  padding: 8px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-size: 1em;
  border: 1px;
  letter-spacing: 0.15em; }

.dark-grey {
  background-color: #222; }

.left {
  float: left; }

.right {
  float: right; }

#index, #board, #main, #scores, #rules {
  height: 100vh; }

#index .main-title {
  color: white;
  padding-top: 100px;
  letter-spacing: 0.12em;
  font-size: 42px;
  font-family: "optimusprincepsregular", serif; }
#index .intro-text {
  color: white;
  width: 50%;
  display: block;
  margin: 5% auto 0;
  text-align: justify;
  padding: 0 5%;
  font-family: serif; }
#index .info {
  color: #ff9f3f;
  display: block;
  margin: 5% auto;
  width: 30%;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1% 5%;
  border: 2px solid #333;
  text-align: center; }
#index #credit-container {
  position: absolute;
  bottom: -200px;
  height: 240px;
  width: 100%;
  background-color: #222;
  padding: 5px 5px 5px 15px;
  color: white;
  -webkit-box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 1px 0px rgba(0, 0, 0, 0.75); }
  #index #credit-container .about-me {
    font-size: 1em;
    color: dimgray;
    margin: 7px 0; }
  #index #credit-container .about-me + p {
    color: #a2a2a2;
    margin: 25px 0 0;
    padding: 0; }
  #index #credit-container .artists {
    margin-top: 0;
    -webkit-columns: 8;
    -moz-columns: 8;
    columns: 8;
    padding: 10px; }
    #index #credit-container .artists a {
      color: dimgray;
      font-size: 0.9em;
      text-decoration: underline; }
  #index #credit-container .creditsButton {
    margin: 0;
    cursor: pointer;
    float: right;
    background-color: #2f2f2f;
    padding: 4px 5px 1px;
    border-radius: 5px;
    border: 2px solid #151515;
    width: 20px;
    height: 20px;
    position: relative; }
    #index #credit-container .creditsButton p {
      font-family: "Humanistic", serif;
      font-size: 1em;
      margin: 0;
      padding: 0;
      text-align: left;
      padding-left: 4px; }
    #index #credit-container .creditsButton img {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 7px;
      top: 5px; }

#loginContainer {
  /*
      .failAuth {
          color: lighten($dark-red, 16%);
          font-size: 1.2em;
          margin: 35px auto;
          display: block;
          width: 50%;
          letter-spacing: 0.08em;
      }*/ }
  #loginContainer form {
    width: 40%;
    margin: 5% auto 0;
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2% 5%;
    border: 2px solid #333; }
  #loginContainer form p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
    font-family: "optimusprincepsregular", serif; }
  #loginContainer #registerForm {
    display: none; }
  #loginContainer .inputTextfield {
    font-size: 1.2em;
    margin-bottom: 8px;
    font-family: "Humanistic", serif;
    color: #222;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 5px; }
  #loginContainer #loginSubmit, #loginContainer #registerSubmit {
    margin: 0;
    display: inline-block;
    color: white;
    font-family: "Humanistic", serif; }
  #loginContainer #loginSubmit:hover, #loginContainer #registerSubmit:hover {
    color: #222;
    background-color: white; }
  #loginContainer #showRegisterButton, #loginContainer #showLoginButton {
    display: inline-block;
    float: right;
    margin: 0;
    color: white;
    font-family: "Humanistic", serif; }
  #loginContainer #showRegisterButton:hover, #loginContainer #showLoginButton:hover {
    color: #222;
    background-color: white; }

#main {
  font-family: "optimusprincepsregular", "Playfair Display", serif;
  letter-spacing: 0.4em;
  background: url("/images/backgrounds/background3.jpg"); }
  #main .container {
    background-color: rgba(0, 0, 0, 0.6); }
  #main h2 {
    color: white;
    text-align: center; }
  #main .left {
    width: 30%;
    height: 100%; }
    #main .left .account {
      width: 100%;
      height: 60%;
      padding-top: 50px; }
      #main .left .account h1 {
        color: white; }
      #main .left .account h1 + div {
        margin: 50px 0 0 0;
        padding: 0 0 0 100px; }
      #main .left .account .avatar {
        width: 192px;
        height: 269px;
        background-color: rgba(255, 255, 255, 0.1);
        float: left;
        display: block;
        border-radius: 5px;
        border: 5px solid #422b71;
        position: relative;
        overflow: hidden;
        cursor: pointer; }
        #main .left .account .avatar p {
          color: white;
          text-align: center;
          margin-top: 100px; }
        #main .left .account .avatar img {
          width: 192px;
          height: 269px;
          position: absolute;
          top: -2.5px;
          left: -2.5px; }
      #main .left .account .avatar:hover {
        border: 5px solid #c9a500; }
      #main .left .account .avatar + div {
        margin: 0;
        display: inline-block;
        height: 100%;
        padding: 5px 0 5px 20px;
        width: auto; }
        #main .left .account .avatar + div p {
          color: white;
          font-family: "Humanistic", serif;
          letter-spacing: 0.1em; }
        #main .left .account .avatar + div #scoresButton {
          color: white;
          border: 1px solid #b3b3b3;
          margin: 10px 0; }
          @media screen and (min-width: 1400px) and (min-height: 800px) {
            #main .left .account .avatar + div #scoresButton {
              display: none; } }
        #main .left .account .avatar + div .logout {
          color: white;
          border: 1px solid #b3b3b3; }
        #main .left .account .avatar + div .logout:hover, #main .left .account .avatar + div #scoresButton:hover {
          color: #222;
          background-color: white; }
    #main .left .scores {
      display: none; }
      @media screen and (min-width: 1400px) and (min-height: 800px) {
        #main .left .scores {
          display: block;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 30%; }
          #main .left .scores ul {
            width: 80%;
            padding: 0;
            margin: 30px auto 15px; }
          #main .left .scores ul li {
            list-style: none;
            width: 25%;
            margin-top: 18px;
            display: inline-block; }
            #main .left .scores ul li .date {
              margin: 0;
              display: inline-block;
              font-size: 0.6em;
              width: 30%; }
            #main .left .scores ul li .result {
              width: 70%;
              margin: 0;
              display: inline-block; }
          #main .left .scores .score {
            color: white; }
          #main .left .scores .defeat {
            color: #e20705; } }
  #main .right {
    width: 70%;
    height: 100%; }
    #main .right h1 {
      color: white;
      margin: 0; }
    #main .right .army-options {
      margin: 0 auto;
      width: 469px;
      height: 60%;
      padding-top: 50px; }
      #main .right .army-options .army-option {
        width: 192px;
        height: 269px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid #333;
        margin: 5% 20px;
        display: inline-block;
        border-radius: 5px;
        border: 5px solid #422b71;
        cursor: pointer; }
      #main .right .army-options .army-option:nth-of-type(1) {
        background: url("/images/armies/humans1.jpg"); }
      #main .right .army-options .army-option:nth-of-type(2) {
        background: url("/images/armies/monsters1.jpg"); }
      #main .right .army-options .active {
        border: 5px solid #d8b200;
        border-radius: 5px; }
      #main .right .army-options .army-option:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      #main .right .army-options #playButton {
        width: 200px;
        height: 45px;
        margin: 5% auto 0;
        display: block;
        color: white;
        text-align: center;
        line-height: 48px;
        font-size: 1.5em;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #b3b3b3; }
      #main .right .army-options #playButton:hover {
        background-color: white;
        color: #222; }
      #main .right .army-options #rulesButton {
        width: 200px;
        height: 45px;
        margin: 5% auto 0;
        display: block;
        color: white;
        text-align: center;
        line-height: 48px;
        font-size: 1.3em;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid #b3b3b3; }
      #main .right .army-options #rulesButton:hover {
        background-color: white;
        color: #222; }

#avatarPickerContainer {
  position: absolute;
  width: 80%;
  height: 280px;
  left: 10%;
  top: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 6px solid #3c3c3c;
  display: none;
  color: white;
  text-align: center; }
  @media screen and (min-width: 1400px) and (min-height: 800px) {
    #avatarPickerContainer {
      height: 369px; } }
  #avatarPickerContainer > div .avatarContainer {
    display: table-cell;
    height: 100%;
    width: 14.66%;
    text-align: center;
    line-height: 264px; }
    @media screen and (min-width: 1400px) and (min-height: 800px) {
      #avatarPickerContainer > div .avatarContainer {
        line-height: 369px; } }
    #avatarPickerContainer > div .avatarContainer img {
      width: 160px;
      height: 224px;
      vertical-align: middle;
      display: inline-block;
      border: 5px solid #422b71;
      border-radius: 5px;
      cursor: pointer; }
      @media screen and (min-width: 1400px) and (min-height: 800px) {
        #avatarPickerContainer > div .avatarContainer img {
          width: 192px;
          height: 269px; } }
    #avatarPickerContainer > div .avatarContainer img:hover {
      border: 5px solid #c9a500; }

#scores {
  font-family: "optimusprincepsregular", "Playfair Display", serif;
  letter-spacing: 0.4em;
  background: url("/images/backgrounds/background1.jpg"); }
  #scores a {
    width: 60px;
    color: white;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 30px;
    padding-left: 33px;
    border: 1px solid #b3b3b3; }
    #scores a img {
      position: absolute;
      height: 18px;
      width: 18px;
      top: 7px;
      left: 7px;
      transform: rotate(-90deg); }
  #scores a:hover {
    background-color: white;
    color: #222; }
  #scores .scores {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 30px; }
    #scores .scores h1 {
      text-align: center;
      color: white; }
    #scores .scores ul {
      width: 80%;
      padding: 0;
      margin: 30px auto 15px; }
    #scores .scores ul li {
      list-style: none;
      width: 25%;
      margin-top: 18px;
      display: inline-block; }
      #scores .scores ul li .date {
        margin: 0;
        display: inline-block;
        font-size: 0.7em;
        width: 40%; }
      #scores .scores ul li .result {
        width: 60%;
        margin: 0;
        display: inline-block; }
    #scores .scores .score {
      color: white; }
    #scores .scores .defeat {
      color: #e20705; }

#rules {
  font-family: "optimusprincepsregular", "Playfair Display", serif;
  letter-spacing: 0.4em;
  background: url("/images/backgrounds/background1.jpg"); }
  #rules a {
    width: 60px;
    color: white;
    text-align: center;
    position: relative;
    padding-left: 33px;
    border: 1px solid #b3b3b3;
    float: left; }
    #rules a img {
      position: absolute;
      height: 18px;
      width: 18px;
      top: 7px;
      left: 7px;
      transform: rotate(-90deg); }
  #rules a:hover {
    background-color: white;
    color: #222; }
  #rules .container {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    overflow-y: scroll; }
    #rules .container h1 {
      text-align: center; }
    #rules .container h2 {
      font-size: 1.3em;
      font-family: "Humanistic"; }
    #rules .container p {
      font-size: 1em;
      font-family: 'Humanistic';
      letter-spacing: 0.02em; }
    #rules .container .about {
      margin-top: 50px; }
    #rules .container .elements {
      margin-top: 50px;
      min-height: 500px;
      margin-bottom: 10px; }
      #rules .container .elements h2 {
        padding-top: 10px; }
      #rules .container .elements img {
        float: left;
        margin-top: 10px;
        border: 2px solid black;
        margin-right: 10px; }
    #rules .container .turn {
      margin-top: 50px; }

#board {
  background: url("/images/backgrounds/background5.jpg") no-repeat; }

#board-left {
  background-color: rgba(0, 0, 0, 0.6);
  width: 25%;
  height: 100%;
  float: left; }
  #board-left .button-container {
    width: 180px;
    height: 10%;
    margin-left: 10%;
    padding: 10px 30px; }
    @media screen and (min-width: 1600px) and (min-height: 900px) {
      #board-left .button-container {
        width: 192px; } }
    #board-left .button-container button {
      width: 100%;
      height: 100%;
      background-color: #222;
      display: block;
      margin: auto;
      color: #ffd40c;
      font-family: "optimusprincepsregular", serif;
      font-size: 1.1em;
      border: 2px solid #b3b3b3; }
      @media screen and (min-width: 1600px) and (min-height: 900px) {
        #board-left .button-container button {
          font-size: 1.5em; } }
  #board-left .avatarContainer {
    width: 100%;
    height: 45%;
    position: relative;
    top: 0;
    left: 0; }
    #board-left .avatarContainer .avatar-box {
      width: 160px;
      height: 224px;
      left: 10%;
      background-color: rgba(255, 255, 255, 0.1);
      overflow: hidden; }
      @media screen and (min-width: 1600px) and (min-height: 900px) {
        #board-left .avatarContainer .avatar-box {
          width: 192px;
          height: 269px; } }
      #board-left .avatarContainer .avatar-box .player-health {
        color: white;
        font-size: 4em;
        text-align: right;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 5px;
        font-family: "Humanistic";
        line-height: 0.5em;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
      #board-left .avatarContainer .avatar-box .player-resource {
        color: #D6A208;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        font-size: 2em;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 5px;
        font-family: "Humanistic";
        line-height: 0.5em; }
      #board-left .avatarContainer .avatar-box .screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0; }
    #board-left .avatarContainer .player-name {
      font-family: "optimusprincepssemiboldRg", cursive;
      text-align: center;
      letter-spacing: 0.1em;
      font-size: 1.8em;
      width: 160px;
      margin-left: 10%;
      z-index: 3;
      position: absolute; }
      @media screen and (min-width: 1600px) and (min-height: 900px) {
        #board-left .avatarContainer .player-name {
          width: 192px; } }
    #board-left .avatarContainer .resource-box {
      width: 80px;
      height: 224px;
      border: 2px solid #222;
      background-color: rgba(255, 255, 255, 0.03);
      position: absolute;
      left: 200px; }
      @media screen and (min-width: 1600px) and (min-height: 900px) {
        #board-left .avatarContainer .resource-box {
          left: 250px;
          height: 269px; } }
      #board-left .avatarContainer .resource-box p {
        color: white;
        font-size: 2em;
        text-align: center; }
  #board-left .avatarContainer:first-child .player-name {
    color: red;
    top: 1%; }
    @media screen and (min-width: 1600px) and (min-height: 900px) {
      #board-left .avatarContainer:first-child .player-name {
        top: 40px; } }
  #board-left .avatarContainer:first-child .avatar-box {
    position: absolute;
    bottom: 2%; }
  #board-left .avatarContainer:first-child .resource-box {
    bottom: 2%; }
  #board-left .avatarContainer:last-child .player-name {
    color: #ffd40c;
    bottom: 1%; }
    @media screen and (min-width: 1600px) and (min-height: 900px) {
      #board-left .avatarContainer:last-child .player-name {
        bottom: 40px; } }
  #board-left .avatarContainer:last-child .avatar-box {
    position: absolute;
    top: 2%; }
  #board-left .avatarContainer:last-child .resource-box {
    top: 2%; }

#board-right {
  float: right;
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  #board-right .top-row .hand {
    width: 100%;
    height: 100%;
    padding-top: 50px; }
  #board-right .top-row .card {
    width: 99px;
    height: 139px;
    display: inline-block;
    margin: 0 -30px;
    -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    background-image: url("../images/card-back.png"); }
  #board-right .top-row .menu-bar {
    position: relative;
    top: 0;
    right: 0;
    height: 3em;
    width: 18em;
    background-color: #880403;
    position: absolute;
    border-top: 2px solid #435237;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75); }
    #board-right .top-row .menu-bar span {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 80px;
      background-color: #ec0705;
      text-align: center;
      line-height: 3em;
      font-size: 1em;
      font-family: "optimusprincepssemiboldRg", cursive;
      color: #ffd40c;
      cursor: pointer; }
  #board-right .middle-row .cards-row .card-box {
    width: 120px;
    height: 170px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden; }
    #board-right .middle-row .cards-row .card-box p {
      z-index: 2;
      font-size: 1.3em;
      margin: 0;
      padding: 0;
      color: white;
      text-align: center;
      font-family: "optimusprincepsregular", serif; }
    #board-right .middle-row .cards-row .card-box .card {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      border-radius: 5px; }
      #board-right .middle-row .cards-row .card-box .card .card-health {
        position: absolute;
        left: 5px;
        top: 17px;
        width: 18px; }
      #board-right .middle-row .cards-row .card-box .card .card-cost {
        position: absolute;
        right: 0px;
        top: 5px;
        width: 24px; }
      #board-right .middle-row .cards-row .card-box .card .card-attack {
        position: absolute;
        right: 0px;
        top: 31px;
        width: 24px; }
      #board-right .middle-row .cards-row .card-box .card .card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0;
        z-index: 1; }
  #board-right .middle-row .cards-row .available {
    border: 5px solid #7c9769; }
  #board-right .middle-row .deck-container {
    width: 30%;
    display: inline-block;
    float: right;
    height: 100%;
    margin-right: 5%; }
  #board-right .middle-row .deck-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    width: 170px;
    margin-top: 25px;
    margin-left: 20px;
    position: relative; }
    #board-right .middle-row .deck-box p {
      margin: 0;
      padding: 0;
      height: 120px;
      width: 100%;
      line-height: 120px;
      font-family: "optimusprincepsregular", serif;
      font-size: 1.3em;
      text-align: center; }
    #board-right .middle-row .deck-box .deck-card {
      width: 170px;
      height: 120px;
      margin: 0;
      -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      background-image: url("../images/card-back2.png");
      position: absolute;
      top: -5px;
      left: 0px;
      cursor: pointer; }
  #board-right .middle-row .deck-box:nth-child(odd) {
    display: none;
    border: 5px solid #6240a8;
    color: #8b6dc8; }
    @media screen and (min-width: 1400px) and (min-height: 800px) {
      #board-right .middle-row .deck-box:nth-child(odd) {
        display: inline-block; } }
  #board-right .middle-row .deck-box:nth-child(even) {
    display: inline-block;
    border: 5px solid #2772a1;
    color: #4fa1d5; }
  #board-right .bottom-row {
    font-family: "optimusprincepsregular", serif; }
    #board-right .bottom-row #hand {
      width: 100%;
      height: 100%; }
    #board-right .bottom-row .card {
      width: 135px;
      height: 195px;
      background-color: white;
      border-radius: 5px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 2px;
      display: inline-block;
      cursor: pointer;
      -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      position: relative; }
      #board-right .bottom-row .card:nth-last-child(n + 8):first-child, #board-right .bottom-row .card:nth-last-child(n + 8):first-child ~ * {
        margin: 0 2px 0 -40px; }
      #board-right .bottom-row .card p {
        z-index: 2;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
        color: white;
        text-align: center; }
      #board-right .bottom-row .card .card-health {
        position: absolute;
        left: 6px;
        top: 19px;
        width: 19px; }
      #board-right .bottom-row .card .card-cost {
        position: absolute;
        right: 2px;
        top: 5px;
        width: 24px; }
      #board-right .bottom-row .card .card-attack {
        position: absolute;
        right: 2px;
        top: 37px;
        width: 24px; }
      #board-right .bottom-row .card .card-image {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        margin: 0;
        padding: 0;
        z-index: 1; }
    #board-right .bottom-row .selected {
      position: absolute;
      z-index: 3;
      transform: scale(1.25); }
  #board-right #info-container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -300px;
    border-radius: 5px;
    border: 5px solid #880403;
    border-bottom: none;
    height: 200px;
    padding: 10px 20px;
    font-family: 'Humanistic', serif;
    color: white;
    right: 5%; }
    #board-right #info-container h3 {
      letter-spacing: 0.1em;
      font-size: 1.8em; }
    #board-right #info-container h4 {
      letter-spacing: 0.1em;
      font-size: 1em; }

#endGameContainer {
  color: white;
  font-family: 'Humanistic';
  display: none;
  position: absolute;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
  #endGameContainer > div {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }
    #endGameContainer > div > div {
      width: 70%;
      height: 40%;
      background-color: rgba(0, 0, 0, 0.8);
      border: 18px solid rgba(255, 255, 255, 0.8);
      margin: 0 auto; }
      #endGameContainer > div > div h1 {
        font-size: 3em;
        padding: 20px; }
      #endGameContainer > div > div p {
        font-size: 2em;
        text-align: center;
        padding: 20px 100px; }
      #endGameContainer > div > div a {
        border: 1px solid #b3b3b3;
        color: white;
        font-size: 1.5em;
        margin: 30px auto 0;
        padding: 10px 0px;
        text-align: center;
        width: 380px; }

/*# sourceMappingURL=styles.css.map */
