@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Milonga);

@font-face {
    font-family: 'optimusprincepsregular';
    src: url('/fonts/optimusprinceps-webfont.eot');
    src: url('/fonts/optimusprinceps-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/optimusprinceps-webfont.woff2') format('woff2'),
         url('/fonts/optimusprinceps-webfont.woff') format('woff'),
         url('/fonts/optimusprinceps-webfont.ttf') format('truetype'),
         url('/fonts/optimusprinceps-webfont.svg#optimusprincepsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'optimusprincepssemiboldRg';
    src: url('/fonts/optimusprincepssemibold-webfont.eot');
    src: url('/fonts/optimusprincepssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/optimusprincepssemibold-webfont.woff2') format('woff2'),
         url('/fonts/optimusprincepssemibold-webfont.woff') format('woff'),
         url('/fonts/optimusprincepssemibold-webfont.ttf') format('truetype'),
         url('/fonts/optimusprincepssemibold-webfont.svg#optimusprincepssemiboldRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Humanistic";
    src: url('/fonts/Humanistic.ttf');
}

@font-face {
    font-family:"Modern Serif Eroded";
    src: url('/fonts/modern-serif.eroded.tff');
}



$optimus: "optimusprincepsregular";
$optimusSemiBold: "optimusprincepssemiboldRg";
$milonga: "Milonga";
$playfair: "Playfair Display";


$dark-red: #880403;
$dark-green: #323d2a;
$dark-purple: #422b71;
$dark-blue: #1b4f70;
$dark-grey: #222;
$yellow: #ffd40c;
$orange: #ff9f3f;

$card-width: 120px;
$card-height: 170px;

$smallCard-width: 99px;
$smallCard-height: 139px;

$bigCard-width: 135px;
$bigCard-height: 195px;

$avatar-width: 192px;
$avatar-height: 269px;




h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

html, body {
    overflow: hidden;
}
div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

.table {
    display: table;
}


.top-row {
    display: table-row;
    height: 25%;
}

.middle-row {
    display: table-row;
    height: 50%;
    //background-color: rgba(255, 100, 100, 0.5);
}

.bottom-row {
    display: table-row;
    height: 25%;
}

.cards-row {
    width: 100%;
    height: $card-height + 40px;
}

.button {
    padding: 8px 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: 1em;
    border: 1px;
    letter-spacing: 0.15em;
}



.dark-grey {
    background-color: $dark-grey;
}


.left {
    float: left;
}

.right {
    float: right;
}



@mixin quantity-query( $number, $comparison: 'equal' ) {
  $nth: '';

  @if index( ('greater' 'more' '>'), $comparison ) {
    $nth: 'n + #{$number}';
  } @else if index( ('less' 'fewer' '<'), $comparison ) {
    $nth: '-n + #{$number}';
  } @else if index( ('equal' 'same' '='), $comparison ) {
    $nth: $number;
  } @else {
    @warn "Sorry, that's an invalid $comparison value."
  }

  &:nth-last-child(#{$nth}):first-child {
    &,
    & ~ * {
      @content;
    }
  }
}


@mixin box-shadow($options) {
    -webkit-box-shadow: $options;
    -moz-box-shadow: $options;
    -ms-box-shadow: $options;
    box-shadow: $options;
}


@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


#index, #board, #main {
    height: 100vh;
    background: url("../images/texture.jpg");
}



#index {

    .main-title {
        color: white;
        padding-top: 100px;
        letter-spacing: 0.12em;
        font-size: 42px;
        font-family: $optimus, serif;
    }

    .intro-text {
        color: white;
        width: 50%;
        display: block;
        margin: 5% auto 0;
        text-align: justify;
        padding: 0 5%;
        font-family: serif;
    }

    .info {
        color: $orange;

        display: block;
        margin: 5% auto;
        width: 30%;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1% 5%;
        border: 2px solid #333;
        text-align: center;
    }
}

#loginContainer {

    form {
        width: 40%;
        margin: 5% auto 0;
        position: relative;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2% 5%;
        border: 2px solid #333;

    }

    form p {
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1em;
        margin-bottom: 20px;
        font-family: $optimus, serif;
    }

    #registerForm {
        display: none;
    }

    .inputTextfield {
        font-size: 1.2em;
        margin-bottom: 8px;
        font-family: "Humanistic", serif;
        color: $dark-grey;
        background-color: rgba(255, 255, 255, 0.8);
        padding-left: 5px;
    }


    #loginSubmit, #registerSubmit {
        margin: 0;
        display: inline-block;
        color: white;
        font-family: "Humanistic", serif;
    }

    #loginSubmit:hover, #registerSubmit:hover {
        color: $dark-grey;
        background-color: white;
    }

    #showRegisterButton, #showLoginButton {
        display: inline-block;
        float: right;
        margin: 0;
        color: white;
        font-family: "Humanistic", serif;
    }

    #showRegisterButton:hover, #showLoginButton:hover {
        color: $dark-grey;
        background-color: white;
    }

/*
    .failAuth {
        color: lighten($dark-red, 16%);
        font-size: 1.2em;
        margin: 35px auto;
        display: block;
        width: 50%;
        letter-spacing: 0.08em;
    }*/
}

#main {
    font-family: $optimus, $playfair, serif;
    //font-family: "Humanistic", serif;
    letter-spacing: 0.4em;
    background: url("/images/backgrounds/background3.jpg");

    .container {
        background-color: rgba(0, 0, 0, 0.6);
    }

    h2 {
        color: white;
        text-align: center;
    }

    .left {
        width: 30%;
        height: 100%;

        .account {
            width: 100%;
            height: 60%;
            padding-top: 50px;

            h1 {
                color: white;
            }

            h1+div {
                margin: 50px 0 0 0;
                padding: 0 0 0 100px;
            }

            .avatar {
                width: 192px;
                height: 269px;
                background-color: rgba(255, 255, 255, 0.1);
                float: left;
                display: block;
                border-radius: 5px;
                border: 5px solid $dark-purple;
                position: relative;
                overflow: hidden;
                cursor: pointer;

                p {
                    color: white;
                    text-align: center;
                    margin-top: 100px;
                }

                img {
                    width: 192px;
                    height: 269px;
                    position: absolute;
                    top: -2.5px;
                    left: -2.5px;
                }
            }

            .avatar:hover {
                border: 5px solid darken($yellow, 13%);
            }

            .avatar+div {
                margin: 0;
                display: inline-block;
                height: 100%;
                padding: 5px 0 5px 20px;
                width: auto;
                p {
                    color: white;
                    font-family: "Humanistic", serif;
                    letter-spacing: 0.1em;
                }

                .logout {
                    color: white;
                    border: 1px solid lighten(grey, 20%);
                }

                .logout:hover {
                    color: $dark-grey;
                    background-color: white;
                }
            }

        }

        .scores {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;

            ul {

                width: 80%;
                padding: 0;
                margin: 30px auto 15px;
            }

            ul li{
                list-style: none;
                width: 25%;
                margin-top: 18px;
                display: inline-block;
                .date {
                    margin: 0;
                    display: inline-block;
                    font-size: 0.6em;
                    width: 30%;
                }

                .result {
                    width: 70%;
                    margin: 0;
                    display: inline-block;
                }
            }

            .score {
                color: white;
            }

            .defeat {
                color: lighten($dark-red, 18%);
            }
        }
    }

    .right {
        width: 70%;
        height: 100%;

        h1 {
            color: white;
            margin: 0;
        }

        .army-options {
            margin: 0 auto;
            width: 192px + 192px + 85px;
            height: 60%;
            padding-top: 50px;

            .army-option {
                width: $avatar-width;
                height: $avatar-height;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid #333;
                margin: 5% 20px;
                display: inline-block;
                border-radius: 5px;
                border: 5px solid $dark-purple;
                cursor: pointer;
            }

            .army-option:nth-of-type(1) {
                background: url("/images/armies/humans.jpg");
            }

            .army-option:nth-of-type(2) {
                background: url("/images/armies/monsters.jpg");
            }


            .active {
                   // border: 4px solid darken($dark-red, 10%);
                    border: 5px solid darken($yellow, 10%);
                    border-radius: 5px;
            }

            .army-option:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }


            #playButton {
                width: 230px;
                height: 60px;
                margin: 5% auto 0;
                display: block;
                color: white;
                text-align: center;
                line-height: 60px;
                font-size: 1.5em;
                text-decoration: none;
                font-weight: bold;
                border: 1px solid lighten(grey, 20%);
            }

            #playButton:hover {
                background-color: white;
                color: $dark-grey;
            }
        }
    }
}

#avatarPickerContainer {
    position: absolute;
    width: 80%;
    height: $avatar-height + 100px;
    left: 10%;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.8);
    border: 6px solid lighten($dark-grey, 10%);
    display: none;
    color: white;
    text-align: center;

    >div {

        .avatarContainer {
            display: table-cell;
            height: 100%;
            width: 33.33%;
            text-align: center;
            line-height: $avatar-height + 100px;

            img {
                width: $avatar-width;
                height: $avatar-height;
                vertical-align: middle;
                display: inline-block;
                border: 5px solid $dark-purple;
                border-radius: 5px;
                cursor: pointer;
            }

            img:hover {
                border: 5px solid darken($yellow, 13%);
            }
        }
    }
}

#board {
    background: url("/images/backgrounds/background5.jpg") no-repeat;
}

#board-left {
    background-color: rgba(0, 0, 0, 0.6);
    //display: inline-block;
    width: 25%;
    height: 100%;
    float: left;

    .button-container {
        width: 192px;
        height: 10%;
        margin-left: 100px;
        padding: 10px 30px;


        button {
            width: 100%;
            height: 100%;
            background-color: $dark-red;
            display: block;
            margin: auto;
            color: $yellow;
            font-family: $optimus, serif;
            font-size: 1.5em;
        }
    }



    .avatarContainer {
        width: 100%;
        height: 45%;
        //border: 1px dashed white;
        position: relative;
        top: 0;
        left: 0;

        .avatar-box {
            width: 192px;
            height: 269px;
            left: 100px;
            background-color: rgba(255, 255, 255, 0.1);
            overflow: hidden;

            p {
                color: white;
                font-size: 1.6em;
                text-align: right;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 5px;
            }

            .screen {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
            }
        }

        .player-name {
            font-family: $optimusSemiBold, cursive;
            text-align: center;
            letter-spacing: 0.1em;
            font-size: 1.8em;
            width: 192px;
            margin-left: 100px;
            position: absolute;
        }

        .resource-box {
            width: 80px;
            height: 269px;
            border: 2px solid #222;
            background-color: rgba(255, 255, 255, 0.03);
            position: absolute;
            left: 300px;

            p {
                color: white;
                font-size: 2em;
                text-align: center;
            }
            /*
            .resource {
                width: 38px;
                height: 50px;
                background-color: $orange;
                display: inline-block;
                margin: 0;
                padding: 0;
            }
            */
        }
    }

    .avatarContainer:first-child {

        .player-name {
            color: red;
            top: 40px;
        }

        .avatar-box {
            position: absolute;
            bottom: 2.5em;
        }

        .resource-box {
            bottom: 2.5em;
        }
    }

    .avatarContainer:last-child {

        .player-name {
            color: $yellow;
            bottom: 40px;
        }

         .avatar-box {
            position: absolute;
            top: 2.5em;
        }

        .resource-box {
            top: 2.5em;
        }
    }
}

#board-center {
    //display: inline-block;
    width: 50%;
    height: 100%;
    display: inline-block;
background-color: rgba(0, 0, 0, 0.6);

}

#board-right {
    float: right;
    width: 75%;
    height: 100%;
    //background-color: rgba(0, 0, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.6);

    .top-row {

        .hand {
            width: 100%;
            height: 100%;
            padding-top: 50px;
        }

        .card {
            width: $smallCard-width;
            height: $smallCard-height;
            //background-color: black;
            //border: 3px solid $dark-red;
            display: inline-block;
            margin: 0 -30px;
            @include box-shadow(-3px 3px 2px 0px rgba(0, 0, 0, 0.5));
            background-image: url("../images/card-back.png");
        }


        .menu-bar {
            position: relative;
            top: 0;
            right: 0;
            height: 3em;
            width: 18em;
            background-color: $dark-red;
            position: absolute;
            border-top: 2px solid #435237;
            @include box-shadow(0px -3px 5px 0px rgba(0,0,0,0.75));

            span {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 80px;
                background-color: lighten($dark-red, 20%);
                text-align: center;
                line-height: 3em;
                font-size: 1em;
                font-family: $optimusSemiBold, cursive;
                color: $yellow;
                cursor: pointer;
            }
        }
    }

    .middle-row {
        //background-color: rgba(255, 100, 100, 0.5);


        .cards-row {

            .card-box {
                width: $card-width;
                height: $card-height;
                //border: 5px solid lighten($dark-green, 10%);
                display: inline-block;
                margin: 0 5px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.1);
                position: relative;
                overflow: hidden;

                .card {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: white;
                    border: 5px solid black;
                    border-radius: 5px;
                }
            }

            .available {
                border: 5px solid lighten($dark-green, 30%);
            }
        }

        .deck-container {
            width: 30%;
            display: inline-block;
            float: right;
            height: 100%;
            margin-right: 5%;

        }

        .deck-box {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            display: inline-block;
            height: $card-width;
            //margin: 100px 0 0 30px;
            width: $card-height;
            margin-top: 25px;
            margin-left: 20px;
            position: relative;

            p {
                margin: 0;
                padding: 0;
                height: $card-width;
                width: 100%;
                line-height: $card-width;
                font-family: $optimus, serif;
                font-size: 1.3em;
                text-align: center;
            }

            .card {
                width:  $card-height;
                height: $card-width;
                //background-color: black;
                //border: 3px solid $dark-red;
                margin: 0;
                @include box-shadow(-3px 3px 2px 0px rgba(0, 0, 0, 0.5));
                background-image: url("../images/card-back2.png");
                position: absolute;
                top: -5px;
                left: 0px;

            }
        }

        .deck-box:nth-child(odd) {
            border: 5px solid  lighten($dark-purple, 15%);
            color: lighten( $dark-purple, 30% );

        }

        .deck-box:nth-child(even) {
            border: 5px solid lighten($dark-blue, 12%);
            color: lighten( $dark-blue, 30% );
        }
    }

    .bottom-row {

        #hand {
            width: 100%;
            height: 100%;
        }

        .card {
            width: $bigCard-width;
            height: $bigCard-height;
            background-color: white;
            border-radius: 5px;
            border: 5px solid black;
            margin: 0 2px;
            display: inline-block;
            cursor: pointer;
            @include box-shadow(-3px 3px 2px 0px rgba(0, 0, 0, 0.5));
            @include quantity-query(8, greater) {
                margin: 0 2px 0 -40px;
            }

            // &:hover {
            //     border: 5px solid $dark-red;
            //     position: absolute;
            //     z-index: 2;
            //     transform: scale(1.25);
            // }

        }

        .selected {
                 border: 5px solid $dark-red;
                 position: absolute;
                 z-index: 2;
                 transform: scale(1.25);
            }
    }


    #info-container {
        width: 400px;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        bottom: -300px;
        border-radius: 5px;
        border: 5px solid $dark-red;
        border-bottom: none;
        height: 200px;
        padding: 10px 20px;
        font-family: $optimus, serif;
        color: white;
        right: 5%;


        h3 {
             letter-spacing: 0.1em;
            font-size: 1.8em;
        }

        h4 {
             letter-spacing: 0.1em;
            font-size: 1em;
        }
    }
}

#endGameContainer {

    color: white;
    font-family: 'Humanistic';
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    >div {

        display: table-cell;
        vertical-align: middle;
        height: 100%;

        >div {
            width: 85%;
            height: 50%;
            background-color: rgba(0, 0, 0, 0.8);
            border: 20px solid rgba(255, 255, 255, 0.8);
            margin: 0 auto;

            h1 {
                font-size: 4em;
                padding: 20px;
            }

            p {
                font-size: 3.5em;
                text-align: center;
                padding: 20px 100px;
            }

            a {
                border: 1px solid #b3b3b3;
                color: white;
                font-size: 1.5em;
                margin: 100px auto 0;
                padding: 20px 80px;
                text-align: center;
                width: 360px;
            }
        }
    }
}












