@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Milonga);
h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center; }

html, body {
  overflow: hidden; }

div {
  box-sizing: border-box; }

.container {
  width: 100%;
  height: 100%; }

.table {
  display: table; }

.top-row {
  display: table-row;
  height: 25%; }

.middle-row {
  display: table-row;
  height: 50%; }

.bottom-row {
  display: table-row;
  height: 25%; }

.cards-row {
  width: 100%;
  height: 210px; }

.button {
  padding: 8px 20px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-family: 'OptimusPrinceps', serif;
  font-size: 1em;
  border: 1px;
  letter-spacing: 0.15em; }

.dark-grey {
  background-color: #222; }

.left {
  float: left; }

.right {
  float: right; }

@font-face {
  font-family: OptimusPrinceps;
  src: url(OptimusPrinceps.tff); }
@font-face {
  font-family: OptimusPrincepsSemiBold;
  src: url(OptimusPrincepsSemiBold.tff); }
#index, #board, #main {
  height: 100vh;
  background: url("../images/texture.jpg"); }

#index .main-title {
  color: white;
  padding-top: 100px;
  font-family: "OptimusPrinceps";
  letter-spacing: 0.12em;
  font-size: 42px; }
#index .intro-text {
  color: white;
  width: 50%;
  display: block;
  margin: 5% auto 0;
  text-align: justify;
  padding: 0 5%; }

#loginContainer form {
  width: 40%;
  margin: 5% auto 0;
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 5%;
  border: 2px solid #333; }
#loginContainer form p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1em;
  margin-bottom: 20px;
  font-family: 'OptimusPrinceps', serif; }
#loginContainer #registerForm {
  display: none; }
#loginContainer .inputTextfield {
  font-size: 1.2em;
  margin-bottom: 8px;
  font-family: "OptimusPrincepsSemiBold", serif;
  color: #222;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 5px; }
#loginContainer #loginSubmit, #loginContainer #registerSubmit {
  margin: 0;
  display: inline-block;
  color: white; }
#loginContainer #loginSubmit:hover, #loginContainer #registerSubmit:hover {
  color: #222;
  background-color: white; }
#loginContainer #showRegisterButton, #loginContainer #showLoginButton {
  display: inline-block;
  float: right;
  margin: 0;
  color: white; }
#loginContainer #showRegisterButton:hover, #loginContainer #showLoginButton:hover {
  color: #222;
  background-color: white; }
#loginContainer .failAuth {
  color: #d80605;
  font-size: 1.2em;
  margin: 35px auto;
  display: block;
  width: 50%; }

#main {
  font-family: "OptimusPrinceps", cursive;
  letter-spacing: 0.1em; }
  #main h2 {
    color: white;
    font-family: "OptimusPrinceps", cursive;
    text-align: center; }
  #main .left {
    width: 30%;
    height: 100%; }
    #main .left .account {
      width: 100%;
      height: 60%;
      padding-top: 50px; }
      #main .left .account h1 {
        color: white; }
      #main .left .account h1 + div {
        margin: 50px 0 0 0;
        padding: 0 0 0 100px; }
      #main .left .account .avatar {
        width: 192px;
        height: 269px;
        background-color: rgba(255, 255, 255, 0.1);
        float: left; }
      #main .left .account .avatar + div {
        margin: 0;
        display: inline-block;
        height: 100%;
        padding: 5px 0 5px 20px;
        width: auto; }
        #main .left .account .avatar + div p {
          color: white;
          font-family: "OptimusPrinceps"; }
    #main .left .scores {
      width: 100%;
      height: 40%; }
      #main .left .scores ul {
        width: 60%;
        margin-left: 100px;
        padding: 0; }
      #main .left .scores ul li {
        list-style: none;
        width: 100%;
        margin-top: 18px; }
        #main .left .scores ul li .date {
          margin: 0;
          display: inline-block;
          font-size: 0.6em;
          width: 10%;
          text-align: right; }
        #main .left .scores ul li .result {
          width: 80%;
          margin: 0;
          display: inline-block; }
      #main .left .scores .score {
        color: white; }
      #main .left .scores .defeat {
        color: #e20705; }
  #main .right {
    width: 70%;
    height: 100%; }
    #main .right h1 {
      color: white;
      margin: 0; }
    #main .right .army-options {
      margin: 0 auto;
      width: 469px;
      height: 60%;
      padding-top: 50px; }
      #main .right .army-options .army-option {
        width: 192px;
        height: 269px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid #333;
        margin: 5% 20px;
        display: inline-block; }
      #main .right .army-options .active {
        border: 4px solid #d8b200;
        border-radius: 5px; }
      #main .right .army-options .army-option:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      #main .right .army-options #playButton {
        width: 230px;
        height: 60px;
        margin: 5% auto 0;
        display: block;
        color: white;
        text-align: center;
        line-height: 60px;
        font-size: 1.5em;
        font-family: "OptimusPrincepsSemiBold", cursive;
        text-decoration: none; }
      #main .right .army-options #playButton:hover {
        background-color: white;
        color: #222; }

#board-left {
  width: 25%;
  height: 100%;
  float: left; }
  #board-left .button-container {
    width: 192px;
    height: 10%;
    margin-left: 100px;
    padding: 10px 30px; }
    #board-left .button-container button {
      width: 100%;
      height: 100%;
      background-color: #880403;
      display: block;
      margin: auto;
      color: #ffd40c;
      font-family: "OptimusPrinceps", serif;
      font-size: 1.5em; }
  #board-left .avatarContainer {
    width: 100%;
    height: 45%;
    position: relative;
    top: 0;
    left: 0; }
    #board-left .avatarContainer .avatar-box {
      width: 192px;
      height: 269px;
      left: 100px;
      background-color: rgba(255, 255, 255, 0.1); }
    #board-left .avatarContainer .player-name {
      font-family: "OptimusPrincepsSemiBold", cursive;
      text-align: center;
      letter-spacing: 0.1em;
      font-size: 1.8em;
      width: 192px;
      margin-left: 100px;
      position: absolute; }
    #board-left .avatarContainer .resource-box {
      width: 80px;
      height: 269px;
      border: 2px solid #222;
      background-color: rgba(255, 255, 255, 0.03);
      position: absolute;
      left: 300px; }
  #board-left .avatarContainer:first-child .player-name {
    color: red;
    top: 40px; }
  #board-left .avatarContainer:first-child .avatar-box {
    position: absolute;
    bottom: 2.5em; }
  #board-left .avatarContainer:first-child .resource-box {
    bottom: 2.5em; }
  #board-left .avatarContainer:last-child .player-name {
    color: #ffd40c;
    bottom: 40px; }
  #board-left .avatarContainer:last-child .avatar-box {
    position: absolute;
    top: 2.5em; }
  #board-left .avatarContainer:last-child .resource-box {
    top: 2.5em; }

#board-center {
  width: 50%;
  height: 100%;
  display: inline-block; }

#board-right {
  float: right;
  width: 75%;
  height: 100%; }
  #board-right .top-row .hand {
    width: 100%;
    height: 100%;
    padding-top: 50px; }
  #board-right .top-row .card {
    width: 99px;
    height: 139px;
    display: inline-block;
    margin: 0 -30px;
    -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    background-image: url("../images/card-back.png"); }
  #board-right .top-row .menu-bar {
    position: relative;
    top: 0;
    right: 0;
    height: 3em;
    width: 18em;
    background-color: #880403;
    position: absolute;
    border-top: 2px solid #435237;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75); }
    #board-right .top-row .menu-bar span {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 80px;
      background-color: #ec0705;
      text-align: center;
      line-height: 3em;
      font-size: 1em;
      font-family: "OptimusPrincepsSemiBold", cursive;
      color: #ffd40c;
      cursor: pointer; }
  #board-right .middle-row .cards-row .card-box {
    width: 120px;
    height: 170px;
    border: 5px solid #323d2a;
    display: inline-block;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); }
  #board-right .middle-row .deck-container {
    width: 30%;
    display: inline-block;
    float: right;
    height: 100%;
    margin-right: 5%; }
  #board-right .middle-row .deck-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: inline-block;
    height: 120px;
    width: 170px;
    margin-top: 25px;
    margin-left: 20px; }
    #board-right .middle-row .deck-box p {
      margin: 0;
      padding: 0;
      height: 120px;
      width: 100%;
      line-height: 120px;
      font-family: "OptimusPrinceps", serif;
      font-size: 1.3em;
      text-align: center; }
  #board-right .middle-row .deck-box:nth-child(odd) {
    border: 5px solid #422b71;
    color: #6e48ba; }
  #board-right .middle-row .deck-box:nth-child(even) {
    border: 5px solid #1b4f70;
    color: #2f89c2; }
  #board-right .bottom-row #hand {
    width: 100%;
    height: 100%; }
  #board-right .bottom-row .card {
    width: 135px;
    height: 195px;
    background-color: white;
    border-radius: 5px;
    border: 5px solid black;
    margin: 0 2px;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5); }
    #board-right .bottom-row .card:nth-last-child(n + 5):first-child, #board-right .bottom-row .card:nth-last-child(n + 5):first-child ~ * {
      margin: 0 2px 0 -40px; }
    #board-right .bottom-row .card:hover {
      border: 5px solid #880403;
      position: absolute;
      z-index: 2;
      transform: scale(1.25); }
  #board-right #info-container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -500px;
    border-radius: 5px;
    border: 5px solid #880403;
    border-bottom: none;
    height: 300px;
    padding: 10px 20px;
    font-family: "OptimusPrinceps", serif;
    color: white;
    right: 5%; }
    #board-right #info-container h3 {
      letter-spacing: 0.1em;
      font-size: 1.8em; }
    #board-right #info-container h4 {
      letter-spacing: 0.1em;
      font-size: 1em; }

/*# sourceMappingURL=styles.css.map */
